build/
out/
.cache/
.vs/
.vscode/
.idea/
CMakeUserPresets.json
vcpkg_installed/
*.user
compile_commands.json
.clangd/
.ccls-cache/
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
*.pdb
*.ilk
build/logs/
tests/refs/*.actual.png
